<!-- <app-form-test></app-form-test>
<app-second-test></app-second-test>
<app-data-show></app-data-show>
<hr />
<router-outlet></router-outlet> -->

<div class="menu">
  <div> 
    <b> WELCOME! </b> <br>
    <a> Данный сайт - контрольная работа, он создан для проверки наработанных навыков. </a>
    <br> <br>
    <i> На данном сайте есть: 
      <br> домашняя страница, на которой вы сейчас находитесь 
      <br> список машин, котрый вы можете пополнить
      <br> сама страница, где вы можете добавить машины в список
      <br> страница "обо мне"
      <br> а так же пустая страница сайта
    </i> 
  </div>
    <br>
  <div> 
    <a routerLink="/cars">Список машин</a>
  </div>
  <div>
    <a routerLink="/car/add">Добавить машину</a>
  </div>
  <div>
    <a routerLink="/aboutme">Обо мне</a>
  </div>
  <div>
    <a routerLink="/form/add">Оцените работу</a>
  </div>
  <br>
</div>
<router-outlet></router-outlet>
